/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /********************************************* header *****************************************/
    /**********************************************************************************************/
	.navbar-closed {
		height: 8vw;
	}
	
	.navbar-open {
		height: 56.43vw;
	}

	.navbar__logoMutuactW {
		top: 2vw;
		width: 10vw;
	}

	.navbar__button-x {
		top: 3vw;
		right: 4.2vw;
		font-size: 2.624vw;
	}
	
	.navbar__button-bars {
		top: 3.3vw;
		right: 4.2vw;
		font-size: 2.1vw;
	}
	
	menu {
		margin-top: 7vw;
		width: 80vw;
	}
	
	.navbar__menu-open {
		top: 3.5vw;
		height: 20vw;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.nav__menu__link {
		line-height: 0;
		padding-top: 0;
		padding-left: 0;
		padding-bottom: 0;
		letter-spacing: .175vw;
		font-size: 3vw;
	}
	
	.nav__menu__link:hover {
		padding-left: 0;
		font-size: 3.57vw;
	}

	.nav__menu__link-header {
        margin-top: 2.5vw;
		font-size: 1.8vw;
        letter-spacing: .087vw;
    }
	
	.nav__menu__text {
		font-size: 1.8vw;
	}

    .actu {
        margin-right: 8vw;
    }

	.b-contact {
		margin-right: .6vw;
	}

	.devis {
		margin-left: 4vw;
	}

	.nav__menu__bienvenue {
		margin-top: -2.1vw;
		transform: translate(-91%, 0);
		font-size: 2vw;
	}
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* header *****************************************/
    /**********************************************************************************************/

	.navbar__logoMutuactW {
		width: 16vw;
	}

	.navbar__separator {
		margin-top: 4vw;
		width: 100%;
		height: 1px;
		background-color: white;
		opacity: .3;
	}

	.navbar__button-x {
		right: 3.5vw;
		font-size: 2.187vw;
	}
	
	.navbar__button-bars {
		right: 3.5vw;
		font-size: 1.75vw;
	}

	.nav__menu__link-header {
		margin-top: 4.6vw;
		font-size: 1.8vw;
    }

	.actu:hover {
        text-decoration-thickness: .14vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* header *****************************************/
    /**********************************************************************************************/
	.navbar-closed {
		height: 4.5vw;
	}
	
	.navbar-open {
		height: 47.085vw;
	}

	.navbar__logoMutuactW {
		top: 2.2vw;
		width: 12vw;
		left: 2vw;
	}

	.navbar__separator {
		margin-top: 4vw;
		width: 100%;
		height: 1px;
		background-color: white;
		opacity: .3;
	}

	.contact-hidden {
		display: block;
	}

	.contact-visible {
		display: block;
	}

	.navbar__button-x {
		top: 1.296vw;
		right: 2.92vw;
		font-size: 1.825vw;
	}
	
	.navbar__button-bars {
		top: 1.542vw;
		right: 2.92vw;
		font-size: 1.46vw;
	}
	
	menu {
		margin-top: 7vw;
		width: 70vw;
	}
	
	.navbar__menu-open {
		top: -.35vw;
		height: auto;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.nav__menu__link {
		line-height: 2.19vw;
		padding-top: 0;
		padding-left: 0;
		padding-bottom: 0;
		letter-spacing: .146vw;
		font-size: 35px;
		color: rgb(255, 255, 255);
		transition: color .4s;
	}
	
	.nav__menu__link:hover {
		padding-left: 0;
		font-size: 35px;
		color: rgb(205, 255, 247);
		transition: color .4s;
	}

	.nav__menu__text {
		cursor: pointer;
	}

	.nav__menu__text:hover {
		text-decoration: underline;
		text-underline-position: under;
	}
    
    .nav__menu__link-header {
		width: auto;
		border-radius: 4px;
		padding: .6vw 1vw .6vw 1vw;
        margin-top: .9vw;
		font-size: 1.24vw;
        letter-spacing: .073vw;
		display: inline-block;
		color: white;
    }

    .actu {
		border: solid 1px white;
        margin-right: 7.3vw;
		background-color: transparent;
		transition: background-color .4s;
    }

	.b-contact {
		margin-right: .6vw;
	}

	.devis {
		float: left;
		margin-left: 3vw;
	}

	.devis-hidden {
		display: none;
	}

	.devis-visible {
		display: block;
	}

	.nav__menu__bienvenue {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		margin-top: -8.7vw;
		font-size: 1.5vw;
		font-weight: 600;
		color: white; 
		letter-spacing: .08vw;
	}
}