/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* vowd *******************************************/
    /**********************************************************************************************/

    .vowd__filtre {
        font-size: 50px;
        line-height: 55px;
    }  
    
    .vowd__filtre__text {
        width: 500px;
        margin-top: 35vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* vowd *******************************************/
    /**********************************************************************************************/

    .vowd__filtre {
        font-size: 60px;
        line-height: 70px;
    } 

    .vowd__logo {
        position: absolute;
        top: 200px;
        left: 52%;
        transform: translate(-52%, 0);
        width: 130px;
        height: auto;
        opacity: .2;
    }

    .vowd__filtre__text {
        width: 600px;
    }
}