/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /******************************************** epargne *****************************************/
    /**********************************************************************************************/
    
    .why {
        margin-top: -2.625vw;
        margin-bottom: 4.375vw;
        font-size: 2.6vw;
    }

    .why>header {
        margin-bottom: 3.5vw;
    }

    .why>p{
        margin-top: .875vw;
        margin-left: 1.75vw;
        margin-right: 1.75vw;
        font-size: 2vw;
        line-height: 2.5vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /******************************************** epargne *****************************************/
    /**********************************************************************************************/
    
    .why {
        margin-top: -4.625vw;
        margin-bottom: 4.375vw;
        font-size: 2.3vw;
    }

    .why>header {
        margin-bottom: 1.5vw;
    }

    .why>p{
        margin-top: .875vw;
        margin-left: 1.75vw;
        margin-right: 1.75vw;
        font-size: 1.575vw;
        line-height: 2.187vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /******************************************** epargne *****************************************/
    /**********************************************************************************************/

    .why {
        margin-top: -2.19vw;
        margin-bottom: 3.65vw;
        font-size: 2.2vw;
        font-weight: 700;
    }

    .why>header {
        margin-bottom: 1.5vw;
    }

    .pagination {
        position: absolute;
        display: inline-block;
        top: 5.3vw;
        padding: auto;
        left: 53.5vw;
        max-width: 6vw;
        height: 6vw;
        font-size: 4vw;
        font-weight: 800;
        background-color: rgb(80, 197, 178);
        color: white;
        border-radius: 8px;
        z-index: -1;
    }

    .why>p{
        margin-top: 8vw;
        margin-left: 1.8vw;
        margin-right: 1.8vw;
        font-size: 1.3vw;
        font-weight: 500;
        line-height: 1.9vw;
    }
}