/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 767px ****************************************/

@media screen and (min-width: 768px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/

    .famille {
        width: 111vw;
    }

    .background__plus {
        margin-right: 8vw;
        top: 50vw;
        padding: .6vw 1vw .6vw 1vw;
        font-size: 1.8vw;
        letter-spacing: .073vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/

    .famille {
        width: 105.6vw;
    }
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/
    
    .famille {
        width: 103vw;
    }

    .background__plus {
        margin-right: 8vw;
        top: 95%;
        transform: translate(0, -95%);
        padding: .6vw 1vw .6vw 1vw;
        font-size: 1.24vw;
        letter-spacing: .073vw;
    }

    .background__button {
        top: -20vw;
        padding-left: .5vw;
        width: 15.5vw;
        height: 4vw;
    }
    
    .background__button__btn {
        margin-right: .8vw;
        font-size: 3vw;
    }
    
    .background__button__text {
        font-size: 1.3vw;
        letter-spacing: .06vw;
        line-height: 1.6vw;
    }
}