/**********************************************************************************************/
/****************************************** background ****************************************/
/**********************************************************************************************/

.background {
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -1;
}

.banner__button {
    position: absolute;
    align-items: center;
    display: flex;
    bottom: 20vw;
    margin-top: 45vw;
    margin-bottom: 20vw;
    padding-left: 2vw;
    flex-wrap: nowrap;
    max-width: 53vw;
    width: auto;
    height: 15vw;
    border-radius: 12vw;
    background: linear-gradient(to left, rgb(36, 160, 139), rgb(9, 76, 97));
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .4s ease-in-out;
    cursor: pointer;
    z-index: 1;
}

.banner__button:after {
    content: '';
    position: absolute;
    align-items: center;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 12vw;
    background: linear-gradient(to right, rgb(36, 160, 139), rgb(9, 76, 97));
    opacity: 1;
    transition: all .4s ease-in-out;
}

.banner__button:hover:after {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    opacity: 0;
}

.banner__button:active {
    background: linear-gradient(to right, rgb(36, 160, 139), rgb(9, 76, 97));
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.banner__button:active .banner__button__btn,
.banner__button:active .banner__button__text {
    color: rgb(231, 244, 253);
}

.banner__button__btn {
    position: relative;
    margin-right: 3vw;
    font-size: 11vw;
    color: rgb(231, 244, 253);
    transition: color .4s;
    z-index: 1;
}

.banner__button__text {
    position: relative;
    vertical-align: middle;
    font-family: 'Open-sans', sans-serif;
    font-size: 4.7vw;
    font-weight: 600;
    letter-spacing: .3vw;
    color: rgb(231, 244, 253);
    transition: color .4s;
    z-index: 1;
}

.famille {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 0;
    width: 236vw;
    height: auto;
    filter: grayscale(1) brightness(50%);
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 450px ****************************************/

@media screen and (min-width: 451px) {

    /**********************************************************************************************/
    /****************************************** background ****************************************/
    /**********************************************************************************************/
    
    .banner__button {
        top: -39vw;
        left: 0;
        padding-left: 9px;
        width: 220px;
        height: 62px;
        border-radius: 30px;
        z-index: 100;
    }
    
    .banner__button:after {
        border-radius: 30px;
    }
    
    .banner__button__btn {
        margin-right: 16px;
        font-size: 44px;
    }
    
    .banner__button__text {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .famille {
        width: 142.222vw;
    }
}