/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 991px ****************************************/

@media screen and (min-width: 992px) {

    /**********************************************************************************************/
    /********************************************* footer *****************************************/
    /**********************************************************************************************/
    
    .footer > h1 {
        font-size: 3.5vw;
    }
    
    .footer__link {
        width: 34vw;
    }
    
    .footer__link__icon {
        font-size: 5vw;
    }
    
    .footer__logo-mutuact {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    
    .footer > p {
        font-size: 1.8vw;
        line-height: 3vw;
    }
    
    .footer__copyright {
        font-size: 1.8vw;
    }    
}

/********************************************* media queries ************************************************/
/************************** New rules if the screen is at more 1199px ****************************************/

@media screen and (min-width: 1200px) {

    /**********************************************************************************************/
    /********************************************* footer *****************************************/
    /**********************************************************************************************/
    
    .footer > h1 {
        font-size: 2.8vw;
    }
    
    .footer__link {
        width: 30vw;
    }
    
    .footer__link__icon {
        font-size: 4vw;
    }
    
    .footer__logo-mutuact {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    
    .footer > p {
        font-size: 1.6vw;
        line-height: 2.5vw;
    }

    .footer__partenaires {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding-left: 30vw;
        padding-right: 30vw;
        background-color: white;
        margin-top: 10vw;
        padding: 5vw 5vw 0 5vw;
    }

    .footer__partenaires__logo {
        height: 6vw;
        width: auto;
        margin-bottom: 5vw;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
    }
    
    .footer__copyright {
        font-size: 1.6vw;
    }    
}